config HEX_DSP
    bool
    default y
    depends on HEXAGON && TCG
    imply PTIMER
    select L2VIC  # Vector PIC
    select PL011

config HEX_VIRT
    depends on HEX_DSP && FDT
    select DEVICE_TREE
    select VIRTIO_MMIO
    select VIRTIO_RNG
    select PL031
